h1 {
color: #2c3e50;
}
.form-control:focus {
box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

body {
background-color: #f8f9fa; 
color: #343a40; 
font-family: 'Arial', sans-serif; 
}

.navbar {
background-color: #00b97e; 
color: #ffffff; 
}


.nav-link:hover {
color: #141414 !important; 
}

.container {
padding: 20px;
border-radius: 8px; 
}

.form-control {
border-color: #ced4da;
box-shadow: none;
}

.form-control:focus {
border-color: #28a745; 
box-shadow: 0 0 5px rgba(40, 167, 69, 0.5); 
}


button.btn-primary {
background-color: #008342 !important; 
border-color: #008342 !important;
}

button.btn-primary:hover {
background-color: #006935 !important; 
}

button.btn-secondary {
background-color: #6c757d !important; 
border-color: #6c757d !important;
}

button.btn-secondary:hover {
background-color: #5a6268 !important;
border-color: #5a6268 !important;
}
.form-control {
max-width: 300px;
margin-left: auto;
margin-right: auto;
}

.itinerary-title + p {
max-width: 300px;
margin-left: auto;
margin-right: auto;
}

.form-group label.form-label {
display: block !important;
text-align: center !important;
}

.search-input::placeholder {
color: rgba(255, 255, 255, 0.7) !important;
/* width: 100% !important; 
max-width: 500px !important; */
}

input.search-input {
background-color: #00b97e !important;
border-color: #00b97e !important;
color: white !important;
}

input.search-input::placeholder {
color: white !important;
opacity: 0.8;
}

button.btn-primary {
background-color: #00b97e !important;
border-color: #00b97e !important;
color: white !important;
}

button.btn-primary:hover,
button.btn-primary:focus,
button.btn-primary:active {
background-color: #009766 !important;
border-color: #009766 !important;
}

#regenerate-btn, #roadtrip-btn {
background-color: #005f46 !important; /* Darker green */
border-color: #005f46 !important;
}

#regenerate-btn:hover, #regenerate-btn:focus, #regenerate-btn:active,
#roadtrip-btn:hover, #roadtrip-btn:focus, #roadtrip-btn:active {
background-color: #001f16 !important; 
border-color: #001f16 !important;
}
